@model Web.Pages.ProductsModel
@{ ArgumentNullException.ThrowIfNull(Model); }

@if (Model.ProductResults is { Count: > 0 } products)
{
    @foreach (var product in products)
    {
        <tr>
            <td>@product.Brand</td>
            <td>@product.Name</td>
            <td>@product.Amount</td>
            <td>@(product.LocationId != null && Model.Locations != null && Model.Locations.TryGetValue(product.LocationId.Value, out var location) ? location.Name : "Unknown") </td>
            <td>@(product is { Expiry: not null, ExpiryType: not null } ? product.ExpiryType + " " + product.Expiry.Value : "N/A")</td>
            <td>@if (product.Perishable)
                {
                    <i
                        style="color:red; font-size: 1.1rem"
                        class="bi bi-check2"
                        alt="red checkmark"
                        title="Perishable"></i>
                }
                else
                {
                    <i style="color:green; font-size: 1.1rem"
                       class="bi bi-x"
                       alt="green x"
                       title="Not Perishable"></i>
                }
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="6" class="text-center">No Products Found</td>
    </tr>
}
