@model Web.Pages.ProductsModel
@{ ArgumentNullException.ThrowIfNull(Model); }

@if (Model.ProductResults is { Count: > 0 } products)
{
    @foreach (var product in products)
    {
        <tr>
            <td>@product.Brand</td>
            <td>@product.Name</td>
            <td>@product.Amount</td>
            <td>@(product.LocationId != null && Model.Locations != null && Model.Locations.TryGetValue(product.LocationId.Value, out var location) ? location.Name : "Unknown") </td>
            <td>@(product is { Expiry: not null, ExpiryType: not null } ? product.ExpiryType + " " + product.Expiry.Value : "N/A")</td>
            <td>@product.Perishable</td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="6" class="text-center">No Products Found</td>
    </tr>
}